body{
  font-family: dancing script;
  background-color: black;
}

header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  padding-left: 0.5vw;
  padding-top: 0px;
  margin-top: 0px;
}
h1{
  margin-top: 0px;
  text-align: center;
  font-size: 3.5vw;
  margin-left: 1vw;
}
nav{
  text-shadow: none;
  margin: 0vw 1vw;
}

nav>a{
  color: white;
  font-size: 2vw;
}

nav>a:hover{
  color: orange;
}

.contenido{
  width: 100%;
}

@media (min-width:900px) {
  .contenido{
    width: 900px;
    margin: 0 auto;
  }

  nav{
    text-align: right;
  }
  h1{
    text-align: left;
  }


  .caja2{
    display: flex;
  }
  .p #I2, #I3{
    padding: 0vw;
    margin: 1vw 0vw 0vw 0vw;
    text-align: center;
    width: 80%;
  }
  .caja1{
    background-color: #82c3a6;
  }
	.caja7, .caja8, .caja9, .caja10{
		display: flex;
	}

  footer{
    display: flex;
  }

  footer>article>h2{
    font-size: 2.5vw !important;
  }

  article>ul{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.2vw !important;
  }
}

.caja1{
  order: 1;
  background-color: #82c3a6;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.caja2{
  width: 100%;
  background-color: #d5c75f;
  padding: 0px;
  margin-bottom: 0px;
  height: 100%;
  text-align: center;
}

#I1, #I2, #I3{
  width: 90%;
  box-shadow: 2px 2px 2px #02010a;
  border: 1px solid black;
}

article>div[class|="im"]{
  width: 45%;
}

.img2{
  box-shadow: 2px 2px 2px #02010a;
  width: 85%;
  height: 80%;
  margin-top: 1vw;
  margin-left: 1vw;
  border: 1px solid black;
  transition: transform 1S;
}
.p>p{
  text-align: center;
  font-size: 2vw;
  margin: 0px;
  padding: 3px 0px;
}
p>a{
  color: black;
}
p>a:hover{
  color: white;
}
#I2:hover{
  transform: rotate(10deg);
  border: 2px solid;
  box-shadow: 4px 4px 4px  #82c3a6;
}

#I3:hover{
  transform: translateY(-5px)
             translateX(20px);
  box-shadow: 4px 4px 4px  #82c3a6;
  border: 2px solid;
}

footer{
  padding-left: 1vw;
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
}

footer>article{
  width: 100%;
  margin: 0px;
}

footer>article>h2{
  margin-top: 0px;
  padding-top: 2px;
  font-size: 3.5vw;
  text-align: center;
}

article>ul{
  list-style: none;
  font-size: 3vw;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.caja7, .caja8, .caja9, .caja10{
  text-align: center;
	background-color: #d5c75f;
}
#IP1, #IP7{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
#IP2, #IP4, #IP6, #IP8, #IP10, #IP12{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#IP3, #IP9{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}
