@font-face {
	font-family: Dancing script;
}

body{
  background-color: black;
  font-family: Dancing script;
}

#cabecera{
  background-color: #5b7989;
  color: white;
  width: 100%;
  order:1;
  border-radius: 10px 10px 0px 0px;
  -moz-dorder-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

#titulo{
  font-family:Dancing script;
  font-size: 2em;
  text-align: left;
  margin-left: 0.5em;

}
#titulo h1{
  font-family: Dancing script;
  text-shadow: 2px 2px 2px 0 rgba(2, 1, 10, 1);
  width: 50%;
}
navbar{
  width: 50%;
}
#menuprincipal {
  text-align: right;
}
