body{
  font-family: dancing script;
  background-color: black;
}

header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  padding-left: 0.5vw;
}

nav{
  text-shadow: none;
  margin: 0vw 1vw;
}

nav>a{
  color: white;
  font-size: 1.5vw;
}

nav>a:hover{
  color: orange;
}

@media (min-width:900px) {
  nav{
    text-align: right;
  }
  .caja2{
    display: flex;
  }
  .img2{
    width: 50%;
  }
}

article[class="caja1"]{
  order: 1;
  background-color: #82c3a6;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.caja2{
  width: 100%;
  background-color: #d5c75f;
  padding-top: 20px;
}

#I1{
  box-shadow: 2px 2px 2px black;
}

article>div[class|="im"]{
  width: 45%;
}

.img2{
  box-shadow: 10px 10px 10px pink;
  width: 85%;
  height: 80%;
  margin-top: 1vw;
  margin-left: 1vw;
  border: 1px solid black;
  transition: transform 1S;
}
.p>p{
  text-align: center;
  font-size: 2vw;
  margin: 0px;
  padding-top: 3px
}

#I2:hover{
  transform: rotate(10deg);
  border: 2px solid;
  box-shadow: 4px 4px 4px  #82c3a6;
